

body{
	background: #FAFAFA;
	color: black;
}

/*--START Top of the page --*/

.cv{
	color: #FAFAFA;
	font-style: oblique;
	font-size: 24px;
	background-color: red;
	position: relative;
	text-align: left;
	font-family: 'Slabo 27px', serif;
	margin-bottom: 2%;
	border-bottom-color: #FAFAFA;
	position: relative;
}

.cv:hover{
	color: #FFBA38;
}

.titles{
	background: red;
	border-bottom: 1px solid red;
	margin-top: -8%;
}

.daniel{
	font-size: 106px;
	text-align: center;
	margin-top: -170px;
	color: #FAFAFA;
	font-family: 'Bungee Inline', cursive;
}
.webd{
	font-size: 90px;
	text-align: center;
	margin-top: -140px;
	color: #FAFAFA;
	font-family: 'Bungee Inline', cursive;
}

.media{
	position: relative;
	display: block;
	text-align: center;
	width: 100%;
	height: auto;
	
}
.media img{
	width: 3%;
	height: 3%;
	margin: 6%;
	margin-top: -5%;
	text-decoration: none !important;

}
.details{
	font-family: 'Bungee Inline', cursive;
	color: #FAFAFA;
	position: relative;
	text-align: center;
	background: red;
	border-bottom: 1px solid red;
	width: 100%;
}

.details .detail {
	width: 33.3%;
	position: relative;
	float: left;
}


/*-- END Top of the page --*/

/*-- START of the body --*/
main{
		background: red;
}

main h1{
	background: red;
	color: #FAFAFA;
	font-family: 'Bungee Inline', cursive;

}
article{
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	background: red;
	color: #FAFAFA;
	margin-top: -1%
}
/*-- END of the body --*/

/*-- START of the footer --*/
footer h2{
	background: red;
	color: #FAFAFA;
	font-family: 'Bungee Inline', cursive;
	border-bottom: 20px solid red;
}

/*-- END of the body --*/