*{font-family: "Calibri Light";}

body{
	background: #FAFAFA;
	color: black;
}
/*-- Top of the page --*/

.menu ul li > a{
	text-decoration: none !important;
	list-style: none;
	color: #FAFAFA;
	font-style: oblique;
	font-size: 24px;
	border-color: 2px solid #000000;
	padding: 1%;

}
.menu ul li{
	display: inline-block;
	margin: 2%;
}
.menu ul li :hover{
	color: #D4AF37;

}
.menu ul{
	background-color: #000000;
}
.menu{
	width: 100%;
	position: relative;
	bottom: 30px;
	text-align: center;

}
.daniel{
	font-size: 96px;
	text-align: center;
	margin-top: -170px;
	color: #D4AF37;
}
.webd{
	font-size: 70px;
	text-align: center;
	margin-top: -140px;
	color: #D4AF37;
}
.social{
	position: relative;
	display: block;
	list-style: none;
	text-decoration: none !important;
	text-align: center;
	margin: 0 auto;
}
/*-- END Top of the page --*/

